.reg-form
{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;

    padding: 1rem 2rem;
}

form
{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    border-radius: 1.6rem;
    padding: 1rem 1.6rem;
    background-color: #001f3f;
}

input{
    background-color: transparent !important;
    padding: 10px !important;
    border : 0.1rem solid #4e0eff !important;
    color:white !important;
    width: 100% !important;
    font-size: 1rem !important;
    border-radius: 0.1rem !important;
    
}
#addon-wrapping
{
    background-color: white !important;
    border : 0.1rem solid #4e0eff !important;
    color:#001f3f !important;
}

input:hover{
    border: 0.1 rem solid #997af0;
    outline: none;
}

a{
    color: skyblue;
    text-decoration: none;
}

.btn-signup{
    color: white;
    background-color: #0074D9;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: larger;
}

 .btn-signup:hover
{
    background-color: #7FDBFF !important;
    color:#001f3f;
}